public/index.html
<!DOCTYPE html>
<html lang="eng-us">

<head>
  <title></title>
  <meta name="description" content="mygnu portfolio">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Harry Gill, mygnu">
  <link rel="stylesheet" href="/css/app.css">
</head>

<body class="wrapper">
  <div class="navigation-div">
    <div class="icon">
      <a href="/" data-tip="Home" class="tooltip">
        <img src="/images/home.svg" alt="" width="50" height="40" class="shadowed">
      </a>
    </div>
    <div class="icon">
      <a href="/myworks" data-tip="My Works" class="tooltip">
        <img src="/images/works.svg" alt="" width="55" height="40" class="shadowed">
      </a>
    </div>
  </div>
  <div class="social-div">
    <div class="icon">
      <a href="#" data-tip="Blog" class="tooltip">
        <img src="/images/blog.svg" alt="" width="50" height="40" class="shadowed">
      </a>
    </div>
    <div class="icon">
      <a href="https://twitter.com/mygnu_" data-tip="Twitter" class="tooltip">
        <img src="/images/twitter.svg" alt="" width="50" height="40" class="shadowed">
      </a>
    </div>
    <div class="icon">
      <a href="https://gitlab.com/u/mygnu" data-tip="Gitlab" class="tooltip">
        <img src="/images/git.svg" alt="" width="50" height="40" class="shadowed">
      </a>
    </div>
  </div>
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <div id="about-me-page">
    <a name="about-me"></a>
    <div class="profile-img">
      <img src="/images/portfolio.svg" alt="Harry Gill">
    </div>
    <h1 class="center heading-text">Harry Gill</h1>
    <p class="description-text text-justify">Full stack web developer. Love creating software and websites mostly for pleasure
      and sometimes as work. Have experiance in<strong> C++(QT5), Vala(GTK+), </strong>      and
      <strong> C </strong>desktop and CLI applications. Currently <a href="http://freecodecamp.com/"
      target="_blank">learning</a> <strong> Nodejs, React, visjs</strong> etc. and
      also doing CS degree at UoPeople.</p>
  </div>
  <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet"
  type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:700" rel="stylesheet"
  type="text/css">
  <script language="javascript" src="js/app.js"></script>
  <footer class="center">
    <div class="footnote">created with <span class="heart pulse">♥</span></div>
  </footer>
</body>

</html>

views/index.jade
extends layout

block content
    #loader-wrapper
        #loader
        |     
        .loader-section.section-left
        |     
        .loader-section.section-right
    |   

    |   
    #about-me-page
        a(name='about-me')
        |     
        .profile-img
            img(src='/images/portfolio.svg', alt='Harry Gill')
        |     
        h1.center.heading-text Harry Gill
        |     
        p.description-text.text-justify
            | Full stack web developer. Love creating software and websites mostly for pleasure and sometimes as work. Have experiance in
            strong  C++(QT5), Vala(GTK+), 
            |  and
            |       
            strong  C 
            | desktop and CLI applications. Currently 
            a(href='http://freecodecamp.com/', target='_blank') learning
            |       
            strong  Nodejs, React, visjs
            |  etc. and also doing CS degree at UoPeople.

    link(href='https://fonts.googleapis.com/css?family=Special+Elite', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Slab:700', rel='stylesheet', type='text/css')
    //- // Piwik
    //- script(type='text/javascript').
    //-     var _paq = _paq || [];
    //-     _paq.push(['trackPageView']);
    //-     _paq.push(['enableLinkTracking']);
    //-     (function() {
    //-     var u = "//piwik.mygnu.org/";
    //-     _paq.push(['setTrackerUrl', u + 'piwik.php']);
    //-     _paq.push(['setSiteId', 4]);
    //-     var d = document,
    //-     g = d.createElement('script'),
    //-     s = d.getElementsByTagName('script')[0];
    //-     g.type = 'text/javascript';
    //-     g.async = true;
    //-     g.defer = true;
    //-     g.src = u + 'piwik.js';
    //-     s.parentNode.insertBefore(g, s);
    //-     })();
    //- 
    //- noscript
    //-     p
    //-         img(src='//piwik.mygnu.org/piwik.php?idsite=4', style='border:0;', alt='')
    //- // End Piwik Code
